@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-color: #619b8a;
  --dark-color: #233d4d;
}

.text-dark {
  color: var(--dark-color);
}

.header-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 6.125rem;
  font-weight: 300;
  letter-spacing: -1.5px;
}

.header-h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.813rem;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.header-h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.063rem;
  font-weight: 500;
}

.header-h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.188rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.header-h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.body-p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.body-p-bold {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.caption {
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.sign-up-primary {
  padding: 0.5rem 1rem;
  border-radius: 32px;
  display: flex;
  background: #659e89;
  background: -webkit-linear-gradient(
    90deg,
    rgba(101, 158, 137, 1) 0%,
    rgba(97, 155, 138, 1) 50%,
    rgba(161, 193, 129, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(101, 158, 137, 1) 0%,
    rgba(97, 155, 138, 1) 50%,
    rgba(161, 193, 129, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(101, 158, 137, 1) 0%,
    rgba(97, 155, 138, 1) 50%,
    rgba(161, 193, 129, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#659E89", endColorstr="#A1C181", GradientType=1);
  font-weight: 400;
  font-size: 1rem;
  color: white;
  justify-content: center;
  cursor: pointer;
}

.sign-in-primary {
  border-radius: 32px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
